.DS_Store
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
.gitkeep

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

webnode_modules/
node_modules/
dist/
.env.local
.env.*.local
npm-debug.log*